@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "";
    ViewBag.Title = "Error";
}

<section class="content">

    <div class="error-page">
        <h2 class="headline text-red">☹</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Uuups, das ist nicht gelungen. Wahrscheinlich existiert die Seite nicht.</h3>

            <p>
                Falls du glaubst, dass etwas nicht stimmt, kontaktiere bitte den Administrator.

            </p>

            <p>
                <button class="btn-toolbar" onclick="goBack()">Zurück auf die vorige Seite</button>
            </p>
        </div>
    </div>
    <!-- /.error-page -->

</section>

<script>
    function goBack() {
        window.history.back();
    }
</script>