@{
    Layout = "";
    ViewBag.Title = "Error";
}

<div class="alert-danger">
    <p>&nbsp</p>
</div>
<title>@ViewBag.Title</title>
<section class="content">


    <div class="error-page">
        <h6 class="headline text-red">☹</h6>

        <div class="error-content">
            <h4><i class="fa fa-warning text-red"></i> Du hast keinen Zugriff auf diese Seite.</h4>

            <p>
                Kontaktiere den Admin, um die Rechte zu bekommen.
            </p>

            <p>
                <button class="btn-toolbar" onclick="goBack()">Zurück auf die vorherige Seite</button>
            </p>
        </div>
    </div>
    <!-- /.error-page -->

</section>

<script>
    function goBack() {
        window.history.back();
    }
</script>