@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="content container-fluid">
    <div class="box-header with-border">
        <h1>☹</h1>
        <h2>
            Das ist nicht gelungen. Wahrscheinlich hast du keinen Zugriff oder sie Seite existiert nicht.
        </h2>
        <h2>
            Falls das häufiger passiert, kontaktiere bitte den Administrator.
        </h2>
    </div>
</section>