@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <div class="col-6 mx-auto">

                    <h1><big><big><big><big><big><big><big>☹</big></big></big></big>   </big></big></big></h1>
                </div>

                <h3>
                    Das ist nicht gelungen. Wahrscheinlich existiert die Seite nicht.
                </h3>
                <h4>
                    Falls du glaubst, dass etwas nicht stimmt, kontaktiere bitte den Administrator.
                </h4>
            </div>
            <button onclick="goBack()">Zurück auf die vorige Seite</button>

        </div>
    </div>
</div>

<section class="content container-fluid">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            
        </div>


    </div>
</section>
<script>
    function goBack() {
        window.history.back();
    }
</script>