@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="content container-fluid">
    <div class="box-header with-border">
        <h1>☹☹☹</h1>
        <h2>
            Dafür hast du keine Berechtigung.
        </h2>
        <h2>
            Wenn du denkst, dass du die haben solltest, kontaktiere bitte den Administrator.
        </h2>
        <h1>☹☹☹</h1>

    </div>
</section>